body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-weight: bold;
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}

#title {
    background-color: #8a8f92;
    color: #ECEFF4;
}

.titulo{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 5%;
}

/* Nav Bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
    color: #ECEFF4 !important;
    transition: 0.15s;
}

.nav-link:hover{
    color: #4C566A !important;
}

/* Download Buttons */
.download-btn{
    width: 220px;
    margin: 5% 3% 5% 0%;
}

/* Phone Image */
.title-img{
    width: 90%;
    transform: rotate(25deg);
    position: absolute;
    right: 0;
}

/* Features */
#features{
    position: relative;
    background-color: white;
}

.feat-icon{
    margin-bottom: 1rem;
    transition: 0.15s;
}

.feat-icon:hover{
    color: #c1c1c1;
}

/* Testimonials */
#testimonials{
    text-align: center;
    background-color: #8a8f92;
    color: #ECEFF4;
}

#press {
    background-color: #8a8f92;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Pricing */
#pricing{
    padding-top: 35px;
    text-align: center;
}

/* CTA */
#cta{
    text-align: center;
    background-color: #8a8f92;
    color: #ECEFF4;
    padding: 7% 15%;
}

/* Footer */
#footer{
    text-align: center;
    background-color: #fff;
    padding: 7% 15%;
}

.ficon{
    margin-right: 22px;
}


@media (max-width: 991px){
    .title-img{
        position: static;
        transform: rotate(0);
        width: 100%;
    }
    #title{
        text-align: center;
    }
}