:root{
    --mainColor: #2E3440;
    --secondaryColor: #4C566A;

    --borderColor: #5E81AC;

    --mainText: #D8DEE9;
    --secondaryText: #E5E9F0;

    --themeDotBorder: #88C0D0;

    --previewBg: rgb(129, 161, 193, 0.8);
    --previewShadow: rgb(94, 129, 172);

    --postBgColor: #5E81AC;
    --postColor:#E5E9F0;
    --postPreviewColor:#5E81AC;
    --buttonColor: #5E81AC;

    --dot-1: #5E81AC;
    --dot-2: #88C0D0;
    --dot-3: #8FBCBB;
} 